<!DOCTYPE html>
<html>
<head>
<title>Page Title</title>
</head>
<body>
<h3>  User list </h3>


<ul>
    <% users.forEach(function(user) { %>
        <li><%= user %></li>
    <% }) %>

<% if (inLogin) { %>
    <h1>User Is Logged In</h1>
<% } else { %>
    <h1>User Is Not Logged In</h1>
<% } %>
</ul>
</body>
</html>